html {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Inconsolata", monospace;
}

nav {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  font-family: "Prata", serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Prata", serif;
}
h1 {
  font-size: 150px;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 100px;
}
.works h2 {
  color: turquoise;
}

.aboutme h2 {
  color: coral;
}
.contact h2 {
  color: turquoise;
}

h3 {
  font-size: 50px;
}
.works h3 {
  color: coral;
}

.aboutme h3 {
  color: coral;
  margin: 0 0 70px 0;
}

.contact h3 {
  color: black;
}

h4 {
  font-size: 32px;
  color: teal;
  background-color: turquoise;
  display: inline-block;
  margin: 0;
  padding: 4px;
}

.works a {
  letter-spacing: 3px;
  color: gray;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
}

p {
  line-height: 145%;
}

ul {
  color: gray;
}
.navigation {
  text-align: center;
}
.navigation li {
  display: inline-block;
  margin: 0px 25px;
  color: white;
}
.navigation li a {
  color: white;
  text-shadow: 2px 3px 6px gray;
  text-decoration: none;
}
.left-col,
.right-col {
  color: white;
  text-align: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-col {
  background-color: coral;
}

.right-col {
  background-color: turquoise;
}

.top-container {
  width: 500px;
  margin: 0 auto;
}
.scroll {
  color: coral;
  text-align: center;
}

.works {
  color: teal;
}

.works-img {
  position: relative;
  width: 100%;
}
.works h4 {
  position: absolute;
  z-index: 1;
  top: -25px;
}
.works h4.right-aligned {
  right: 0;
}
img {
  max-width: 100%;
}

.extra-gutters {
  padding: 0 60px;
}

.right-aligned {
  text-align: right;
}
footer {
  background-color: coral;
  min-height: 220px;
  background-image: url(../img/socialmedia.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.social-icon {
  height: 60px;
  margin: 10px 20px;
}

.social-icon-container {
  text-align: center;
}
